.yButton {
    background: linear-gradient(271.73deg, #FFDE73 -1.28%, #FFB22E 83.97%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Raleway';
    color: $black;

    &-large {
        height: 72px;
        padding: 0 45px 0 45px;
        font-weight: 600;
        font-size: 36px;
    }

    &-center {
        margin-left: auto;
        margin-right: auto;
    }
}