.download {
    &-title {
        margin-top: 37px;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        color: $black;
    }

    

    &-btn {
        display: block;
        margin-top: 60px;
    }
}